.grid-container {
  display: grid;
  min-height: 100vh;

  grid-template-rows: 200px 1fr 100px;
  grid-template-columns: 200px 1fr 200px;
}

header {
  background-color: red;
  grid-row: 1/2;
  grid-column: 1/4;
}

.aside-1 {
  background-color: green;
  grid-row: 2/3;
  grid-column: 1/2;
}

main {
  background-color: blue;
  grid-row: 2/3;
  grid-column: 2/3;
}

.aside-2 {
  background-color: purple;
  grid-row: 2/3;
  grid-column: 3/4;
}

footer {
  background-color: yellow;
  grid-row: 3/4;
  grid-column: 1/4;
}
