.grid-container {
  display: grid;
  min-height: 100vh;

  grid-template-columns: 200px 1fr 200px;
}

header {
  background-color: green;
  grid-row: 1/2;
  grid-column: 1/2;
}

main {
  background-color: blue;
  grid-row: 1/2;
  grid-column: 2/3;
}

aside {
  background-color: purple;
  grid-row: 1/2;
  grid-column: 3/4;
}
