.grid-container {
  display: grid;
  min-height: 100vh;

  grid-template-rows: 200px;
  grid-template-columns: 200px 1fr;
}

header {
  background-color: red;
  grid-row: 1/2;
  grid-column: 1/3;
}

main {
  background-color: green;
  grid-row: 2/3;
  grid-column: 1/2;
}

aside {
  background-color: blue;
  grid-row: 2/3;
  grid-column: 2/3;
}
