.grid-container {
  display: grid;
  grid-template-rows: 200px 400px 100px;
}

header {
  background-color: red;
  grid-row: 1/2;
}

main {
  background-color: blue;
  grid-row: 2/3;
}

footer {
  background-color: yellow;
  grid-row: 3/4;
}
